.container {
  max-width: 300px;
  padding: 33px;
  background-color: #1B1B1D;
  border-radius: 15px;
  box-shadow: 5px 5px 12px #055f9f92;
}

.header {
  font-size: 24px;
  margin-bottom: 32px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.leftItem{
  font-size: 16px;
  line-height: 1.5em;
}

.rightItem {
  display: flex;
  flex-direction: column;
  margin: -20px auto;
}

.rightItem p {
  text-align: center;
}